<footer class="bg-gray-50 shadow-inner">
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
        <div class="flex justify-center mb-8">
            <img alt="" src="assets/img/logo.svg" class="h-8 w-auto">
        </div>    
        <nav aria-label="Footer" class="-mb-6 columns-2 sm:flex sm:justify-center space-x-12">
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Condições de uso</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Notificação de Privacidade</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Trabalhe Conosco</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Acessibilidade</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Contato</a></div>
        </nav>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">© 2024 HomeCommerce - 29.895.155/0001-15.<br />Todos os direitos reservados.</p>
    </div>
</footer>

<!-- <footer aria-labelledby="footer-heading" class="alt">
    <h2 id="footer-heading" class="t">Footer</h2>
    <div class="gx uh aro ckf dit">
        <div class="aft agb">
            <div class="asv auy">
                <div class="md:flex md:justify-center"><img alt=""
                        src="https://tailwindui.com/img/logos/mark.svg?color=indigo&amp;shade=600" class="h-8 w-auto">
                </div>
                <div class="gx la uf doo dpy dql">
                    <div class="mb yp aaa dmz">
                        <div class="abx cqu csc css ctf">
                            <div>
                                <h3 class="awg awk ayb">Products</h3>
                                <ul role="list" class="lk acf">
                                    <li class="awg"><a href="#" class="axx blb">Bags</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Tees</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Objects</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Home Goods</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Accessories</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="awg awk ayb">Customer Service</h3>
                                <ul role="list" class="lk acf">
                                    <li class="awg"><a href="#" class="axx blb">Contact</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Shipping</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Returns</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Warranty</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Secure Payments</a></li>
                                    <li class="awg"><a href="#" class="axx blb">FAQ</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Find a store</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="abx cqu csc css ctf">
                            <div>
                                <h3 class="awg awk ayb">Company</h3>
                                <ul role="list" class="lk acf">
                                    <li class="awg"><a href="#" class="axx blb">Who we are</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Sustainability</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Press</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Careers</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Terms &amp; Conditions</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Privacy</a></li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="awg awk ayb">Legal</h3>
                                <ul role="list" class="lk acf">
                                    <li class="awg"><a href="#" class="axx blb">Terms of Service</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Return Policy</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Privacy Policy</a></li>
                                    <li class="awg"><a href="#" class="axx blb">Shipping Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dam ded dfk dqq">
                <div class="lx zg aea aio arb cjp">
                    <div class="gx uq">
                        <h3 class="awm ayb">Sign up for our newsletter</h3>
                        <p class="lb awg axx">The latest news, articles, and resources, sent to your inbox weekly.</p>
                        <form class="lh ccn cct"><label for="email-address" class="t">Email address</label><input
                                id="email-address" type="text" required="" autocomplete="email"
                                class="tu tx yj aeb afg agc alt aro asb awe ayb bba bbt bmo bnc bng bnt">
                            <div class="lf cbl cbx cfd"><button type="submit"
                                    class="lx tu zg zl aeb afg ahf ajw aro asb awe awk ban bbt biy bnc bnh bnt boj box">Sign
                                    up</button></div>
                        </form>
                    </div>
                </div>
                <div class="ab lk lx zg arq ary cjw ckl czu">
                    <div class="aa ak adn aea"><img alt=""
                            src="https://tailwindui.com/img/ecommerce-images/footer-02-exclusive-sale.jpg"
                            class="pn tu aqk aql bei bej">
                        <div class="aa ak ajw amm"></div>
                    </div>
                    <div class="ab gx uq avr">
                        <h3 class="avx awj axd ban">Get early access</h3>
                        <p class="lb axt">Did you sign up to the newsletter? If so, use the keyword we sent you to get
                            access. <a href="#" class="adt awj ban bkx">Go now<span aria-hidden="true"> →</span></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="arx cqr csk csq">
            <div class="avr cuw">
                <p class="awg axx">© 2021 All Rights Reserved</p>
            </div>
            <div class="lh lx zg zl cqf">
                <div class="lx abu"><a href="#" class="awg axx blb">Accessibility</a><a href="#"
                        class="awg axx blb">Privacy</a><a href="#" class="awg axx blb">Terms</a></div>
                <div class="jz afp agb atv"><a href="#" class="lx zg axx blb"><img alt=""
                            src="https://tailwindui.com/img/flags/flag-canada.svg" class="pm si uw"><span
                            class="jw awg">Change</span><span class="t">location and currency</span></a></div>
            </div>
        </div>
    </div>
</footer> -->