<footer class="bg-gray-800 shadow-inner">
    <div class="mx-auto max-w-7xl overflow-hidden px-6 py-20 sm:py-24 lg:px-8">
        <div class="flex justify-center mb-8">
            <img alt="" src="assets/img/logo.svg" class="h-8 w-auto drop-shadow-sm">
        </div>    
        <nav aria-label="Footer" class="-mb-6 columns-2 sm:flex sm:justify-center space-x-12">
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-white hover:text-yellow-600">Condições de uso</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-white hover:text-yellow-600">Notificação de Privacidade</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-white hover:text-yellow-600">Trabalhe Conosco</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-white hover:text-yellow-600">Acessibilidade</a></div>
            <div class="pb-6"><a href="#" class="text-sm leading-6 text-white hover:text-yellow-600">Contato</a></div>
        </nav>
        <p class="mt-10 text-center text-xs leading-5 text-gray-500">© 2024 HomeCommerce - 29.895.155/0001-15.<br />Todos os direitos reservados.</p>
    </div>
</footer>