<!-- <div class="bg-white py-24 sm:py-32">

    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <img alt=""
            src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=focalpoint&amp;fp-y=.8&amp;w=2830&amp;h=1500&amp;q=80&amp;blend=111827&amp;sat=-100&amp;exp=15&amp;blend-mode=multiply"
            class="absolute inset-0 -z-10 h-full w-full object-cover">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Support center</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                qui lorem cupidatat
                commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
    </div>
</div> -->
<!-- <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img alt=""
        src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;crop=focalpoint&amp;fp-y=.8&amp;w=2830&amp;h=1500&amp;q=80&amp;blend=111827&amp;sat=-100&amp;exp=15&amp;blend-mode=multiply"
        class="absolute inset-0 -z-10 h-full w-full object-cover">
    <div aria-hidden="true"
        class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl">
        <div class="aspect-video w-full bg-gradient-to-tr from-pink-600 to-indigo-500 opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
        </div>
    </div>
    <div aria-hidden="true"
        class="absolute top-52 left-1/2 -z-10 translate-x-1/2 xp blur-3xl sm:-top-96 ml-16 sm:translate-x-0 sm:transform-gpu">
        <div class="aspect-video w-full bg-gradient-to-tr from-pink-600 to-indigo-500 opacity-20"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);">
        </div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Support center</h2>
            <p class="mt-6 text-lg leading-8 text-gray-300">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
                qui lorem cupidatat
                commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
    </div>
</div> -->
<!-- <div class="relative overflow-hidden">
    <div class="pb-80 pt-16 sm:pb-40 sm:pt-24 lg:pb-48 lg:pt-40">
        <div class="relative mx-auto max-w-7xl px-4 bxs sm:px-6 lg:px-8">
            <div class="sm:max-w-lg">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Summer styles are finally here
                </h1>
                <p class="mt-4 text-xl text-gray-500">This year, our new summer collection will shelter you from the
                    harsh elements of a
                    world that doesn't care if you live or die.</p>
            </div>
            <div>
                <div class="mt-10">
                    <div aria-hidden="true"
                        class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
                        <div
                            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                            <div class="flex items-center space-x-6 lg:space-x-8">
                                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100"><img
                                            alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-01.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-02.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                </div>
                                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-03.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-04.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-05.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                </div>
                                <div class="grid shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-06.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                    <div class="h-64 w-44 overflow-hidden rounded-lg"><img alt=""
                                            src="https://tailwindui.com/img/ecommerce-images/home-page-03-hero-image-tile-07.jpg"
                                            class="h-full w-full object-cover object-center"></div>
                                </div>
                            </div>
                        </div>
                    </div><a href="#"
                        class="inline-block rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-center font-medium text-white hover:bg-indigo-700">Shop
                        Collection</a>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="w-full relative">
    <div class="shadow-sm">
        <app-banners></app-banners>
    </div>


</div>