<div class="gx uc aro asa ckf ckn dcv dit">
    <div class="cqr csk csq">
        <h2 class="avx awj axd ayb">Trending products</h2><a href="#" class="md awg awk ayn bli cqo">Shop the
            collection<span aria-hidden="true"> →</span></a>
    </div>
    <div class="lk mb yp aan aas chc cse csw dfl">
        <div class="bqi ab">
            <div class="oh tu adn aeb aiq bsf dba dos"><img alt="Hand stitched, orange leather long wallet."
                    src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg"
                    class="pn tu aqk aql"></div>
            <h3 class="lh awg axz"><a href="#"><span class="aa ak"></span>Leather Long Wallet</a></h3>
            <p class="ku awg axx">Natural</p>
            <p class="ku awg awk ayb">$75</p>
        </div>
        <div class="bqi ab">
            <div class="oh tu adn aeb aiq bsf dba dos"><img alt="12-sided, machined black pencil and pen."
                    src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-03.jpg"
                    class="pn tu aqk aql"></div>
            <h3 class="lh awg axz"><a href="#"><span class="aa ak"></span>Machined Pencil and Pen Set</a></h3>
            <p class="ku awg axx">Black</p>
            <p class="ku awg awk ayb">$70</p>
        </div>
        <div class="bqi ab">
            <div class="oh tu adn aeb aiq bsf dba dos"><img alt="Set of three light and dark brown mini sketch books."
                    src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-04.jpg"
                    class="pn tu aqk aql"></div>
            <h3 class="lh awg axz"><a href="#"><span class="aa ak"></span>Mini-Sketchbooks</a></h3>
            <p class="ku awg axx">Light Brown</p>
            <p class="ku awg awk ayb">$27</p>
        </div>
        <div class="bqi ab">
            <div class="oh tu adn aeb aiq bsf dba dos"><img
                    alt="Beautiful walnut organizer set with multiple white compartments"
                    src="https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-01.jpg"
                    class="pn tu aqk aql"></div>
            <h3 class="lh awg axz"><a href="#"><span class="aa ak"></span>Organizer Set</a></h3>
            <p class="ku awg axx">Walnut</p>
            <p class="ku awg awk ayb">$149</p>
        </div>
    </div>
    <div class="lm awg cqv"><a href="#" class="awk ayn bli">Shop the collection<span aria-hidden="true"> →</span></a>
    </div>
</div>